CMakeCache.txt
CMakeFiles
*.swp
*.osmx
*.osmx-lock
Makefile
*.pbf
*.cmake
osmxTest
venv
depends
a.out
*.osc
*.osc.gz
__pycache__
/osmx
/osmx-featuresource
*.dylib
Testing/
compile_commands.json
install_manifest.txt
dist/*.tgz
