[submodule "vendor/CRoaring"]
	path = vendor/CRoaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "vendor/s2geometry"]
	path = vendor/s2geometry
	url = https://github.com/google/s2geometry.git
[submodule "vendor/libosmium"]
	path = vendor/libosmium
	url = https://github.com/osmcode/libosmium.git
[submodule "vendor/protozero"]
	path = vendor/protozero
	url = https://github.com/mapbox/protozero
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/lmdb"]
	path = vendor/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "vendor/capnproto"]
	path = vendor/capnproto
	url = https://github.com/capnproto/capnproto.git
