[Unit]
Description=osmx-web
After=network-online.target

[Service]
ExecStart=/home/osmx/main -resultsDir=/usr/share/caddy/files -tmpDir=/tmp -osmxExec=/home/osmx/OSMExpress/osmx -osmxData=/mnt/planet.osmx
Restart=always
User=osmx

[Install]
WantedBy=multi-user.target